<!DOCTYPE html>
<html lang="en">
 <head>
 <title>
 The Studio | A Belfius subsidiary dedicated to digital innovation
 </title>
 <meta charset="utf-8" />
 <meta http-equiv="X-UA-Compatible" content="IE=edge" />
 <meta name="viewport" content="width=device-width, initial-scale=1" />
 <meta
 name="keywords"
 content="the studio, the studio digital, studio digital, studio, belfius studio, startup, startup studio, startup studio belge"
 />
 <meta
 name="description"
 content="Our mission is to design world-class digital experiences for our customers, our partners and Belfius. The Studio and its Innovation Lab is a place where our talented people have time to do research and prototype on innovative ideas."
 />
 <link rel="shortcut icon" href="./assets/img/thestudio_logo.png" />
 <link rel='stylesheet' href='https://d33wubrfki0l68.cloudfront.net/bundles/367bd97833e5c37492adcb0b38910f198a0e8f99.css'/>
 
 
 </head>

 <body>
 <div id="app" style="visibility: hidden;">
 <!-- HEADER -->
 <header class="header">
 <a :href="'./home.html?language='+language">
 <img
 src="https://d33wubrfki0l68.cloudfront.net/b88095d4257d1965222a704be5f85ff510fca955/13d8d/assets/img/thestudio_logo.svg"
 class="header-logo"
 alt="The Studio Full Logo"
 />
 </a>
 <nav class="nav_mobile">
 <div></div>
 <div></div>
 <div></div>
 </nav>
 <nav class="nav_mobile_drop">
 <a :href="'./home.html?language='+language"
 >{{ content.nav.home[language] }}</a
 >
 <a class="active" :href="'./career.html?language='+language"
 >{{ content.nav.career[language] }}</a
 >
 <a href="#contact">{{ content.nav.contact[language] }}</a>
 <div class="nav_lang">
 <p>{{ language }} ⌵</p>
 <div class="nav_lang_drop">
 <a v-for="lg in languages" @click.prevent="language = lg"
 >{{ lg }}</a
 >
 </div>
 </div>
 <a class="close">X</a>
 </nav>
 <nav class="nav_desktop">
 <a :href="'./home.html?language='+language"
 >{{ content.nav.home[language] }}</a
 >
 <a class="active" :href="'./career.html?language='+language"
 >{{ content.nav.career[language] }}</a
 >
 <a href="#contact">{{ content.nav.contact[language] }}</a>
 <div class="nav_lang">
 <p>{{ language }} ⌵</p>
 <div class="nav_lang_drop">
 <a v-for="lg in languages" @click.prevent="language = lg"
 >{{ lg }}</a
 >
 </div>
 </div>
 </nav>
 </header>
 <!-- CONTENT -->
 <div id="bubble">
 <section class="section_intro">
 <h1 class="scroll_anim">
 <div v-html="content.intro.title[language]"></div>
 <div v-html="content.intro.subtitle[language]"></div>
 </h1>
 <img src="https://d33wubrfki0l68.cloudfront.net/d1acc4da6ecf3962346b3a7bb3edd288cd112afe/34f9b/assets/img/trait.png" alt="----" />
 <p class="scroll_anim" v-html="content.mission[language]"></p>
 </section>
 <section class="section_cadre">
 <div>
 <img
 class="cadre1"
 src="https://d33wubrfki0l68.cloudfront.net/1597bb2fe3ee3596ff54d531564add58e1ddd7e4/c882b/assets/img/career/tiz1_cadre.jpg"
 onmouseover="this.src='https://d33wubrfki0l68.cloudfront.net/a786db4c3e35c00a63d4fbb5cf41a35376b71a6c/43fbd/assets/img/career/tiz2_cadre.jpg'"
 onmouseout="this.src='https://d33wubrfki0l68.cloudfront.net/1597bb2fe3ee3596ff54d531564add58e1ddd7e4/c882b/assets/img/career/tiz1_cadre.jpg'"
 />
 <div
 id="cadre2"
 class="cadre cadre2 annonce anim"
 @click="toggleModal(1)"
 >
 <img src="https://d33wubrfki0l68.cloudfront.net/8528f05048bfaa93bd04fa4bb8eedf42a8a58d01/16063/assets/img/career/annonce2.jpg" />
 </div>
 <img
 class="cadre3"
 src="https://d33wubrfki0l68.cloudfront.net/56f1dbf5f7e9d50f861eb48308b7211b1b252d37/eb008/assets/img/career/pengo2.jpg"
 onmouseover="this.src='https://d33wubrfki0l68.cloudfront.net/660a256c2bb5f8abdd9f37bd55c0236c3d18112d/bff2e/assets/img/career/pengo1.jpg'"
 onmouseout="this.src='https://d33wubrfki0l68.cloudfront.net/56f1dbf5f7e9d50f861eb48308b7211b1b252d37/eb008/assets/img/career/pengo2.jpg'"
 />
 </div>
 <div>
 <img
 class="cadre4"
 src="https://d33wubrfki0l68.cloudfront.net/98100ab053158e90578468c4bc3ab35233a9155e/b8a77/assets/img/career/group1.jpg"
 onmouseover="this.src='https://d33wubrfki0l68.cloudfront.net/a56f5e843bb9129c379b8789c9529cf0bf66541d/f4f4b/assets/img/career/group2.jpg'"
 onmouseout="this.src='https://d33wubrfki0l68.cloudfront.net/98100ab053158e90578468c4bc3ab35233a9155e/b8a77/assets/img/career/group1.jpg'"
 />
 <img
 class="cadre5"
 src="https://d33wubrfki0l68.cloudfront.net/fcaa99bbfbf146569a656e4cf0cb1ff977fa62f0/5f1cf/assets/img/career/ronny1_cadre.jpg"
 onmouseover="this.src='https://d33wubrfki0l68.cloudfront.net/c90eebc52b319537a8698e59a8274183bd0b283e/ccddc/assets/img/career/ronny2_cadre.jpg'"
 onmouseout="this.src='https://d33wubrfki0l68.cloudfront.net/fcaa99bbfbf146569a656e4cf0cb1ff977fa62f0/5f1cf/assets/img/career/ronny1_cadre.jpg'"
 />
 <img
 class="cadre6"
 src="https://d33wubrfki0l68.cloudfront.net/9fe7e4c3cafcc7d0648c34da39681355ea9fdd5f/4c151/assets/img/career/mad1_cadre.jpg"
 onmouseover="this.src='https://d33wubrfki0l68.cloudfront.net/e0b8c8a025dafe419a352701b56954aa5e46fb01/3c9da/assets/img/career/mad2_cadre.jpg'"
 onmouseout="this.src='https://d33wubrfki0l68.cloudfront.net/9fe7e4c3cafcc7d0648c34da39681355ea9fdd5f/4c151/assets/img/career/mad1_cadre.jpg'"
 />
 </div>
 <div>
 <div
 id="cadre7"
 class="cadre cadre7 annonce anim"
 @click="toggleModal(2)"
 >
 <img src="https://d33wubrfki0l68.cloudfront.net/0f62264705d3a0d05690fbb3dddcefdb428d206f/aa86d/assets/img/career/annonce1.jpg" />
 </div>
 <img
 class="cadre8"
 src="https://d33wubrfki0l68.cloudfront.net/9b54ebce764aab6c1178f02b950ec8440228c9e9/98fe7/assets/img/career/sara1_cadre.jpg"
 onmouseover="this.src='https://d33wubrfki0l68.cloudfront.net/264f104f934c4683a8b179cf5eebd02b829fcaa3/d200e/assets/img/career/sara2_cadre.jpg'"
 onmouseout="this.src='https://d33wubrfki0l68.cloudfront.net/9b54ebce764aab6c1178f02b950ec8440228c9e9/98fe7/assets/img/career/sara1_cadre.jpg'"
 />
 <img
 class="cadre9"
 src="https://d33wubrfki0l68.cloudfront.net/845dd84174bffd2c5881974e940f63c6779affeb/2ad04/assets/img/career/group3.jpg"
 onmouseover="this.src='https://d33wubrfki0l68.cloudfront.net/9670f09ae5064e82a9dceda6377e034f738cfd0d/a2377/assets/img/career/group4.jpg'"
 onmouseout="this.src='https://d33wubrfki0l68.cloudfront.net/845dd84174bffd2c5881974e940f63c6779affeb/2ad04/assets/img/career/group3.jpg'"
 />
 </div>
 </section>
 <!-- RECRUITING -->
 <section class="section4 scroll_anim">
 <h3>{{ content.jobs.recruiting.work_with_us[language] }}</h3>
 <div class="trait"></div>
 <p>{{ content.jobs.recruiting.one_click_away[language] }}</p>
 </section>
 <!-- CONTACT -->
 <section class="section_contact">
 <div class="bg"></div>
 <h3 class="scroll_anim">{{ content.jobs.contact.title[language] }}</h3>
 <div class="trait"></div>
 <div class="contact scroll_anim" id="contact">
 <a
 href="https://www.google.be/maps/place/Rue+de+l'Ecuyer+48,+1000+Bruxelles/@50.8488224,4.3534237,17z/data=!4m5!3m4!1s0x47c3c3808a07138f:0x86f3926cb9b4a3d5!8m2!3d50.8488149!4d4.3556122"
 >
 <img src="https://d33wubrfki0l68.cloudfront.net/dee2f6c9429e1b92b4759f2d80994d1651cb8c8a/54047/assets/img/address.svg" target="_blank" />
 <p>{{ content.jobs.contact.address[language] }}</p>
 <p>48 rue de l'ecuyer, 1000 Bxl</p>
 </a>
 <a href="tel:+3222220936">
 <img src="https://d33wubrfki0l68.cloudfront.net/b309b1d3ca52ec8d8ca4cf23149de07e571220f7/0f0e6/assets/img/phone.svg" />
 <p>{{ content.jobs.contact.phone[language] }}</p>
 <p>02/222.09.36</p>
 </a>
 <a href="mailto:info@thestudio.digital">
 <img src="https://d33wubrfki0l68.cloudfront.net/22788d2078dadd39d5943e441f6070e8bb11f2b3/9c8ea/assets/img/mail.svg" />
 <p>{{ content.jobs.contact.email[language] }}</p>
 <p>info@thestudio.digital</p>
 </a>
 </div>
 <a
 href="https://www.linkedin.com/company/the-studio-belfius/"
 target="_blank"
 class="linkedin"
 >
 <img src="https://d33wubrfki0l68.cloudfront.net/0b79c95e669e3d46b626ac870c28375a2bd3ffab/ce4e2/assets/img/linkedin_rond.svg" alt="Linkedin" />
 </a>

 <div
 style="
                 color: #C30045!important;
                 padding: 1rem;
                 position: absolute;
                 right: 5%;
                 bottom: 0;
                 font-weight: bold;
                 font-size: 85%;
                "
 >
 <span>Copyright 2018 - the Studio</span> <span>| </span
 ><a
 :href="'./assets/img/tc_' + language + '.pdf'"
 target="_blank"
 style="
                 color: #C30045;
                "
 >Terms &amp; conditions</a
 >
 </div>
 </section>
 </div>
 <!-- MODALS -->
 <div
 id="modal1"
 class="modal"
 :style="{display: modals['1'] ? 'block' : 'none'}"
 >
 <div class="modal-content">
 <span class="modal-close" @click="toggleModal(1)">&times;</span>
 <!-- JOB2 -->
 <h1>{{ content.jobs.job2.position[language] }}</h1>
 <p>{{ content.jobs.job2.description_text[language] }}</p>
 <h2>{{ content.jobs.job2.description_title[language] }}</h2>
 <h3>{{ content.jobs.job2.responsibilities_title[language] }}</h3>
 <p>{{ content.jobs.job2.responsibilities_intro[language] }}</p>
 <ul>
 <li v-for="r in content.jobs.job2.responsibilities_list[language]">
 {{ r }}
 </li>
 </ul>
 <h3>{{ content.jobs.job2.skills_title[language] }}</h3>
 <p>{{ content.jobs.job2.skills_intro[language] }}</p>
 <ul>
 <li v-for="s in content.jobs.job2.skills_list[language]">
 {{ s }}
 </li>
 </ul>
 <h2>{{ content.jobs.job2.profile_title[language] }}</h2>
 <ul>
 <li v-for="p in content.jobs.job2.profile_list[language]">
 {{ p }}
 </li>
 </ul>
 <h2>{{ content.jobs.job2.offer_title[language] }}</h2>
 <ul>
 <li v-for="o in content.jobs.job2.offer_list[language]">{{ o }}</li>
 </ul>
 <h2>{{ content.jobs.job2.apply_title[language] }}</h2>
 <p v-html="content.jobs.job2.apply_text[language]"></p>

 <div class="divider"></div>
 <!--
 JOB3
 <h1>{{ content.jobs.job3.position[language] }}</h1>
 <h2>{{ content.jobs.job3.description_title[language] }}</h2>
 <p>{{ content.jobs.job3.description_text[language] }}</p>
 <h3>{{ content.jobs.job3.responsibilities_title[language] }}</h3>
 <p>{{ content.jobs.job3.responsibilities_intro[language] }}</p>
 <ul>
 <li v-for="r in content.jobs.job3.responsibilities_list[language]">{{ r }}</li>
 </ul>
 <h3>{{ content.jobs.job3.skills_title[language] }}</h3>
 <p>{{ content.jobs.job3.skills_intro[language] }}</p>
 <ul>
 <li v-for="s in content.jobs.job3.skills_list[language]">{{ s }}</li>
 </ul>
 <h2>{{ content.jobs.job3.profile_title[language] }}</h2>
 <ul>
 <li v-for="p in content.jobs.job3.profile_list[language]">{{ p }}</li>
 </ul>
 <h2>{{ content.jobs.job3.offer_title[language] }}</h2>
 <ul>
 <li v-for="o in content.jobs.job3.offer_list[language]">{{ o }}</li>
 </ul>
 <h2>{{ content.jobs.job3.apply_title[language] }}</h2>
 <p v-html="content.jobs.job3.apply_text[language]"></p>
 -->
 </div>
 </div>

 <div
 id="modal2"
 class="modal"
 :style="{display: modals['2'] ? 'block' : 'none'}"
 >
 <div class="modal-content">
 <span class="modal-close" @click="toggleModal(2)">&times;</span>
 <h1>{{ content.jobs.job1.position[language] }}</h1>
 <h2>{{ content.jobs.job1.description_title[language] }}</h2>
 <p>{{ content.jobs.job1.description_text[language] }}</p>
 <h3>{{ content.jobs.job1.responsibilities_title[language] }}</h3>
 <p>{{ content.jobs.job1.responsibilities_intro[language] }}</p>
 <ul>
 <li v-for="r in content.jobs.job1.responsibilities_list[language]">
 {{ r }}
 </li>
 </ul>
 <h3>{{ content.jobs.job1.skills_title[language] }}</h3>
 <p>{{ content.jobs.job1.skills_intro[language] }}</p>
 <ul>
 <li v-for="s in content.jobs.job1.skills_list[language]">
 {{ s }}
 </li>
 </ul>
 <h2>{{ content.jobs.job1.profile_title[language] }}</h2>
 <ul>
 <li v-for="p in content.jobs.job1.profile_list[language]">
 {{ p }}
 </li>
 </ul>
 <h2>{{ content.jobs.job1.offer_title[language] }}</h2>
 <ul>
 <li v-for="o in content.jobs.job1.offer_list[language]">{{ o }}</li>
 </ul>
 <h2>{{ content.jobs.job1.apply_title[language] }}</h2>
 <p v-html="content.jobs.job1.apply_text[language]"></p>
 </div>
 </div>
 </div>
 <!-- vue -->
 <script src="https://unpkg.com/vue/dist/vue.min.js"></script>
 <!-- jquery -->
 <script
 src="https://code.jquery.com/jquery-3.3.1.min.js"
 integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
 crossorigin="anonymous"
 ></script>
 <!-- bodymovin -->
 <script
 src="https://cdnjs.cloudflare.com/ajax/libs/bodymovin/4.13.0/bodymovin_light.min.js"
 integrity="sha256-iTdjzqVpr4H+lO7ca1ip4EY9wE/CCXz/xcDJPL3sX24="
 crossorigin="anonymous"
 ></script>
 <!-- particles -->
 <script src='https://d33wubrfki0l68.cloudfront.net/js/f6dec30335754a484a87d818da857c7e2e94fa48/assets/js/particles.js'></script>
 <!-- animation -->
 <script type='text/javascript' src='https://d33wubrfki0l68.cloudfront.net/js/db4fb59d1efa072b10ec6583ede05ef931d40aaf/assets/js/animation.js'></script>
 <script>
 new Vue({
 el: "#app",
 created: function() {
 document.getElementById("app").style.visibility = "visible";
 function getUrlParameter(name) {
 name = name.replace(/[\[]/, "\\[").replace(/[\]]/, "\\]");
 var regex = new RegExp("[\\?&]" + name + "=([^&#]*)");
 var results = regex.exec(location.search);
 return results === null
 ? ""
 : decodeURIComponent(results[1].replace(/\+/g, " "));
 }
 var language = getUrlParameter("language");
 this.language = language || "en";
 var vue = this;
 window.onclick = function(event) {
 if (event.target.id == "modal1" || event.target.id == "modal2") {
 vue.modals["1"] = false;
 vue.modals["2"] = false;
 }
 };
 },
 methods: {
 toggleModal: function(id) {
 this.modals[id] = !this.modals[id];
 }
 },
 data: function() {
 return {
 language: "en",
 languages: ["en", "fr", "nl"],
 modals: {
 1: false,
 2: false
 },
 content: {
 nav: {
 home: {
 en: "Home",
 fr: "Accueil",
 nl: "Home"
 },
 career: {
 en: "Careers",
 fr: "Carrière",
 nl: "Carriere"
 },
 contact: {
 en: "Contact",
 fr: "Contact",
 nl: "Contact"
 }
 },
 intro: {
 title: {
 en: "Join our <span>Wall of fame</span>!",
 fr: 'Rejoignez notre <span>"Wall of fame"</span>!',
 nl: "Krijg je eigen plekje op onze <span>Wall of fame</span>!"
 },
 subtitle: {
 en: "Great things are never done <span>alone.</span>",
 fr:
 "Et construisons <span>ensemble</span> les solutions de demain!",
 nl: "<span>Samen</span> bouwen we aan de toekomst!"
 }
 },
 mission: {
 en:
 "We always seek to co-create with talented and diverse partners. You are only one click away to be part of our bright and passionate team. And if you are looking for a internship, do not hesitate to reach out to us as well.",
 fr:
 "Nous sommes toujours à la recherche de partenaires et collaborateurs motivés. Vous êtes à seulement un click de faire partie de notre équipe de passionnés. Nous recrutons régulièrement des stagiaires, n’hésitez pas à nous contacter.",
 nl:
 "We zijn steeds op zoek naar een interessante samenwerking met getalenteerde en diverse partners. U kan hier deel uitmaken! Ben je op zoek naar een toffe stageplek ? Aarzel niet en neem contact met ons op!"
 },
 jobs: {
 job1: {
 position: {
 en: "UI/UX Designer",
 fr: "UI/UX Designer",
 nl: "UI/UX Designer"
 },
 description_title: {
 en: "Overview",
 fr: "Overview",
 nl: "Overview"
 },
 description_text: {
 en:
 'In November 2016, Belfius founded "The Studio", a subsidiary of Belfius dedicated to digital innovation. The main objective of The Studio is to diversify the bank’s income by developing solutions based on new technologies and bringing them to market as quickly as possible. These solutions can come from innovative ideas developed in the Studio or from existing assets within Belfius. The Studio consists of several entities involved in various projects, including Pengo, Blockchain, RPA and artificial intelligence, etc... We are currently looking for a UI/UX Designer to strengthen our Blockchain Team. The Blockchain department, is mainly active within the B2B market and aims to offer digital solutions based on blockchain technology to public and corporate clients.',
 fr:
 'In November 2016, Belfius founded "The Studio", a subsidiary of Belfius dedicated to digital innovation. The main objective of The Studio is to diversify the bank’s income by developing solutions based on new technologies and bringing them to market as quickly as possible. These solutions can come from innovative ideas developed in the Studio or from existing assets within Belfius. The Studio consists of several entities involved in various projects, including Pengo, Blockchain, RPA and artificial intelligence, etc... We are currently looking for a UI/UX Designer to strengthen our Blockchain Team. The Blockchain department, is mainly active within the B2B market and aims to offer digital solutions based on blockchain technology to public and corporate clients.',
 nl:
 'In November 2016, Belfius founded "The Studio", a subsidiary of Belfius dedicated to digital innovation. The main objective of The Studio is to diversify the bank’s income by developing solutions based on new technologies and bringing them to market as quickly as possible. These solutions can come from innovative ideas developed in the Studio or from existing assets within Belfius. The Studio consists of several entities involved in various projects, including Pengo, Blockchain, RPA and artificial intelligence, etc... We are currently looking for a UI/UX Designer to strengthen our Blockchain Team. The Blockchain department, is mainly active within the B2B market and aims to offer digital solutions based on blockchain technology to public and corporate clients.'
 },
 responsibilities_title: {
 en: "Responsibilities",
 fr: "Responsibilities",
 nl: "Responsibilities"
 },
 responsibilities_intro: {
 en: "The UI/UX Designer will be responsible for:",
 fr: "The UI/UX Designer will be responsible for:",
 nl: "The UI/UX Designer will be responsible for:"
 },
 responsibilities_list: {
 en: [
 "Strong designer skills and experienced with tools as Invision, Zeplin.io, photoshop, etc.",
 "Collaborating with developers, analysts and clients to capture and translate customers business requirements and user needs into compelling user experiences",
 "Creating visual solutions and interface designs and the ability to present and justify designs to customers and peers to gain buy-in",
 "Creating wireframes, sitemaps and user flows to articulate solutions",
 "Creating detailed functional specifications and wireframe/design annotations that define the interaction components of a solution",
 "Conducting user research and testing"
 ],
 fr: [
 "Strong designer skills and experienced with tools as Invision, Zeplin.io, photoshop, etc.",
 "Collaborating with developers, analysts and clients to capture and translate customers business requirements and user needs into compelling user experiences",
 "Creating visual solutions and interface designs and the ability to present and justify designs to customers and peers to gain buy-in",
 "Creating wireframes, sitemaps and user flows to articulate solutions",
 "Creating detailed functional specifications and wireframe/design annotations that define the interaction components of a solution",
 "Conducting user research and testing"
 ],
 nl: [
 "Strong designer skills and experienced with tools as Invision, Zeplin.io, photoshop, etc.",
 "Collaborating with developers, analysts and clients to capture and translate customers business requirements and user needs into compelling user experiences",
 "Creating visual solutions and interface designs and the ability to present and justify designs to customers and peers to gain buy-in",
 "Creating wireframes, sitemaps and user flows to articulate solutions",
 "Creating detailed functional specifications and wireframe/design annotations that define the interaction components of a solution",
 "Conducting user research and testing"
 ]
 },
 skills_title: {
 en: "Required Qualifications",
 fr: "Required Qualifications",
 nl: "Required Qualifications"
 },
 skills_intro: {
 en: "",
 fr: "",
 nl: ""
 },
 skills_list: {
 en: [
 "Bachelor’s Degree in design or equivalent through experience",
 "A good working knowledge of Dutch, French and English is essential",
 "2 - 5 years of experience of creating mock-ups, wireframes, and other UI layouts using designer tools",
 "Experience working under the Agile methodology and frameworks ",
 "Experience in providing guidance, recommendations, and implementation for features and enhancements of web-based applications",
 "Ability to effectively communicate with clients & team members",
 "A teamplayer with a can-do attitude and passionate about his/her job"
 ],
 fr: [
 "Bachelor’s Degree in design or equivalent through experience",
 "A good working knowledge of Dutch, French and English is essential",
 "2 - 5 years of experience of creating mock-ups, wireframes, and other UI layouts using designer tools",
 "Experience working under the Agile methodology and frameworks ",
 "Experience in providing guidance, recommendations, and implementation for features and enhancements of web-based applications",
 "Ability to effectively communicate with clients & team members",
 "A teamplayer with a can-do attitude and passionate about his/her job"
 ],
 nl: [
 "Bachelor’s Degree in design or equivalent through experience",
 "A good working knowledge of Dutch, French and English is essential",
 "2 - 5 years of experience of creating mock-ups, wireframes, and other UI layouts using designer tools",
 "Experience working under the Agile methodology and frameworks ",
 "Experience in providing guidance, recommendations, and implementation for features and enhancements of web-based applications",
 "Ability to effectively communicate with clients & team members",
 "A teamplayer with a can-do attitude and passionate about his/her job"
 ]
 },
 profile_title: {
 en: "What do we offer?",
 fr: "What do we offer?",
 nl: "What do we offer?"
 },
 profile_list: {
 en: [
 "The possibility to build something from the ground up, take initiative and have ownership",
 "The possibility to not only put into practice your acquired skills but develop new ones",
 "A competitive salary package with extra-legal advantages and a fun work environment"
 ],
 fr: [
 "The possibility to build something from the ground up, take initiative and have ownership",
 "The possibility to not only put into practice your acquired skills but develop new ones",
 "A competitive salary package with extra-legal advantages and a fun work environment"
 ],
 nl: [
 "The possibility to build something from the ground up, take initiative and have ownership",
 "The possibility to not only put into practice your acquired skills but develop new ones",
 "A competitive salary package with extra-legal advantages and a fun work environment"
 ]
 },
 offer_title: {
 en: "",
 fr: "",
 nl: ""
 },
 offer_list: {
 en: ["", "", "", "", "", "", ""],
 fr: ["", "", "", "", "", "", ""],
 nl: ["", "", "", "", "", "", ""]
 },
 apply_title: {
 en: "Comment postuler",
 fr: "Comment postuler",
 nl: "Hoe solliciteren"
 },
 apply_text: {
 en:
 'To apply, please send your resume to the following email address <a href="mailto:careers@thestudio.digital">careers@thestudio.digital</a> with the communication « Block Chain Fullstack developer Firstname Lastname ». Feel free to add all relevant information to show off your skills',
 fr:
 'To apply, please send your resume to the following email address <a href="mailto:careers@thestudio.digital">careers@thestudio.digital</a> with the communication « Block Chain Fullstack developer Firstname Lastname ». Feel free to add all relevant information to show off your skills',
 nl:
 'To apply, please send your resume to the following email address <a href="mailto:careers@thestudio.digital">careers@thestudio.digital</a> with the communication « Block Chain Fullstack developer Firstname Lastname ». Feel free to add all relevant information to show off your skills'
 }
 },
 job2: {
 position: {
 en: "TECHNICAL LEAD",
 fr: "TECHNICAL LEAD",
 nl: "TECHNICAL LEAD"
 },
 description_title: {
 en: "",
 fr: "",
 nl: ""
 },
 description_text: {
 en:
 'In November 2016, Belfius founded "The Studio", a subsidiary of Belfius dedicated to digital innovation. The main objective of The Studio is to diversify the bank’s income by developing solutions based on new technologies and bringing them to market as quickly as possible. These solutions can come from innovative ideas developed in the Studio or from existing assets within Belfius. The Studio consists of several entities involved in various projects, including Pengo, Blockchain, RPA and artificial intelligence, etc... We are currently looking for a Technical Lead to strengthen our Blockchain Team. The Blockchain department, is mainly active within the B2B market and aims to offer digital solutions based on blockchain technology to public and corporate clients.',
 fr:
 'In November 2016, Belfius founded "The Studio", a subsidiary of Belfius dedicated to digital innovation. The main objective of The Studio is to diversify the bank’s income by developing solutions based on new technologies and bringing them to market as quickly as possible. These solutions can come from innovative ideas developed in the Studio or from existing assets within Belfius. The Studio consists of several entities involved in various projects, including Pengo, Blockchain, RPA and artificial intelligence, etc... We are currently looking for a Technical Lead to strengthen our Blockchain Team. The Blockchain department, is mainly active within the B2B market and aims to offer digital solutions based on blockchain technology to public and corporate clients.',
 nl:
 'In November 2016, Belfius founded "The Studio", a subsidiary of Belfius dedicated to digital innovation. The main objective of The Studio is to diversify the bank’s income by developing solutions based on new technologies and bringing them to market as quickly as possible. These solutions can come from innovative ideas developed in the Studio or from existing assets within Belfius. The Studio consists of several entities involved in various projects, including Pengo, Blockchain, RPA and artificial intelligence, etc... We are currently looking for a Technical Lead to strengthen our Blockchain Team. The Blockchain department, is mainly active within the B2B market and aims to offer digital solutions based on blockchain technology to public and corporate clients.'
 },
 responsibilities_title: {
 en: "Responsibilities",
 fr: "Responsibilities",
 nl: "Responsibilities"
 },
 responsibilities_intro: {
 en: "The Technical Lead will be responsible for:",
 fr: "The Technical Lead will be responsible for:",
 nl: "The Technical Lead will be responsible for:"
 },
 responsibilities_list: {
 en: [
 "Working directly with the business and development team to deliver top tier architectures.",
 "Defining the technical vision and detailing architecture strategies that lead to exceptional solutions and greater business agility.",
 "Help steer offshore developers ensuring deliverables are released to plan and with full documentation. Through expert communication skills, see problems and takes action before they affect project plans and release.",
 "Drive organisation initiatives including Agile maturity, automated testing, continuous integration, continuous delivery and documentation.",
 "Partner with business leadership to manage user stories and project commitments in an agile framework to rapidly deliver value to clients."
 ],
 fr: [
 "Working directly with the business and development team to deliver top tier architectures.",
 "Defining the technical vision and detailing architecture strategies that lead to exceptional solutions and greater business agility.",
 "Help steer offshore developers ensuring deliverables are released to plan and with full documentation. Through expert communication skills, see problems and takes action before they affect project plans and release.",
 "Drive organisation initiatives including Agile maturity, automated testing, continuous integration, continuous delivery and documentation.",
 "Partner with business leadership to manage user stories and project commitments in an agile framework to rapidly deliver value to clients."
 ],
 nl: [
 "Working directly with the business and development team to deliver top tier architectures.",
 "Defining the technical vision and detailing architecture strategies that lead to exceptional solutions and greater business agility.",
 "Help steer offshore developers ensuring deliverables are released to plan and with full documentation. Through expert communication skills, see problems and takes action before they affect project plans and release.",
 "Drive organisation initiatives including Agile maturity, automated testing, continuous integration, continuous delivery and documentation.",
 "Partner with business leadership to manage user stories and project commitments in an agile framework to rapidly deliver value to clients."
 ]
 },
 skills_title: {
 en: "",
 fr: "",
 nl: ""
 },
 skills_intro: {
 en: "",
 fr: "",
 nl: ""
 },
 skills_list: {
 en: [],
 fr: [],
 nl: []
 },
 profile_title: {
 en: "Required Qualifications",
 fr: "Required Qualifications",
 nl: "Required Qualifications"
 },
 profile_list: {
 en: [
 "Degree in a relevant field (business engineering, computer sciences, etc)",
 "Minimum of 5 years’ experience in a similar position demonstrating technical and architectural leadership.",
 "Excellent working knowledge of English. Knowledge of Dutch and/or French is an advantage.",
 "Strong working relationship with business and technology teams and able to communicate at all levels and drive changes forward.",
 "Results orientated and ability to deliver against tight deadlines."
 ],
 fr: [
 "Degree in a relevant field (business engineering, computer sciences, etc)",
 "Minimum of 5 years’ experience in a similar position demonstrating technical and architectural leadership.",
 "Excellent working knowledge of English. Knowledge of Dutch and/or French is an advantage.",
 "Strong working relationship with business and technology teams and able to communicate at all levels and drive changes forward.",
 "Results orientated and ability to deliver against tight deadlines."
 ],
 nl: [
 "Degree in a relevant field (business engineering, computer sciences, etc)",
 "Minimum of 5 years’ experience in a similar position demonstrating technical and architectural leadership.",
 "Excellent working knowledge of English. Knowledge of Dutch and/or French is an advantage.",
 "Strong working relationship with business and technology teams and able to communicate at all levels and drive changes forward.",
 "Results orientated and ability to deliver against tight deadlines."
 ]
 },
 offer_title: {
 en: "What do we offer?",
 fr: "What do we offer?",
 nl: "What do we offer?"
 },
 offer_list: {
 en: [
 "The possibility to build something from the ground up, take initiative and have ownership",
 "The possibility to not only put into practice your acquired skills but develop new ones",
 "A competitive salary package with extra-legal advantages and a fun work environment"
 ],
 fr: [
 "The possibility to build something from the ground up, take initiative and have ownership",
 "The possibility to not only put into practice your acquired skills but develop new ones",
 "A competitive salary package with extra-legal advantages and a fun work environment"
 ],
 nl: [
 "The possibility to build something from the ground up, take initiative and have ownership",
 "The possibility to not only put into practice your acquired skills but develop new ones",
 "A competitive salary package with extra-legal advantages and a fun work environment"
 ]
 },
 apply_title: {
 en: "Comment postuler",
 fr: "Comment postuler",
 nl: "Hoe solliciteren"
 },
 apply_text: {
 en:
 'To apply, please send your resume to the following email address <a href="mailto:careers@thestudio.digital">careers@thestudio.digital</a> with the communication « Block Chain Fullstack developer Firstname Lastname ». Feel free to add all relevant information to show off your skills',
 fr:
 'To apply, please send your resume to the following email address <a href="mailto:careers@thestudio.digital">careers@thestudio.digital</a> with the communication « Block Chain Fullstack developer Firstname Lastname ». Feel free to add all relevant information to show off your skills',
 nl:
 'To apply, please send your resume to the following email address <a href="mailto:careers@thestudio.digital">careers@thestudio.digital</a> with the communication « Block Chain Fullstack developer Firstname Lastname ». Feel free to add all relevant information to show off your skills'
 },
 job3: {
 position: {
 en: "",
 fr: "",
 nl: ""
 },
 description_title: {
 en: "",
 fr: "",
 nl: ""
 },
 description_text: {
 en: "",
 fr: "",
 nl: ""
 },
 responsibilities_title: {
 en: "",
 fr: "",
 nl: ""
 },
 responsibilities_intro: {
 en: "",
 fr: "",
 nl: ""
 },
 responsibilities_list: {
 en: [],
 fr: [],
 nl: []
 },
 skills_title: {
 en: "",
 fr: "",
 nl: ""
 },
 skills_intro: {
 en: "",
 fr: "",
 nl: ""
 },
 skills_list: {
 en: [],
 fr: [],
 nl: []
 },
 profile_title: {
 en: "",
 fr: "",
 nl: ""
 },
 profile_list: {
 en: [],
 fr: [],
 nl: []
 },
 offer_title: {
 en: "",
 fr: "",
 nl: ""
 },
 offer_list: {
 en: [],
 fr: [],
 nl: []
 },
 apply_title: {
 en: "",
 fr: "",
 nl: ""
 },
 apply_text: {
 en: "",
 fr: "",
 nl: ""
 }
 }
 },
 recruiting: {
 work_with_us: {
 en: "JOIN OUR TEAM",
 fr: "REJOIGNEZ NOTRE ÉQUIPE",
 nl: "MAAK DEEL UIT VAN ONS TEAM"
 },
 one_click_away: {
 en:
 "Do you want to work with us on a project? Have an idea to develop? Want to share experience with us?",
 fr:
 "Vous voulez travailler avec nous sur un projet? Vous avez une idée à développer? Vous voulez partager une expérience avec nous? ",
 nl:
 "Had je graag met ons samengewerkt aan een project? Je ideeën en ervaring gedeeld? Wensen jullie graag met ons samen aan project te werken? "
 },
 career: {
 en: "",
 fr: "",
 nl: ""
 }
 },
 contact: {
 title: {
 en: "Contact us and let's start to innovate",
 fr: "Contactez-nous et innovons ensemble",
 nl: "Neem contact met ons op en laat het innoveren starten!"
 },
 address: {
 en: "Address",
 fr: "Adresse",
 nl: "Adres"
 },
 phone: {
 en: "Phone",
 fr: "Téléphone",
 nl: "Telefoon"
 },
 email: {
 en: "Email",
 fr: "Email",
 nl: "E-mail"
 }
 }
 }
 }
 };
 },
 watch: {
 language: function(language) {
 let title =
 "The Studio | A Belfius subsidiary dedicated to digital innovation";
 switch (language) {
 case "fr":
 title =
 "The Studio | Une filiale de Belfius dédiée à l’innovation digitale";
 break;
 case "nl":
 title =
 "The Studio | Een Belfius dochteronderneming toegewijd aan digitale innovatie.";
 break;
 }
 window.document.title = title;
 }
 }
 });
 </script>
 </body>
</html>