
/* SECTION 2 -- Presentation */

.section_intro {
  min-height: 60vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  padding-top:20vh
}
.section_intro img {
  max-width: 300px;
  margin: 5vh;
}
.section_intro h1 {
  /*padding: 50px;*/
}
.section_intro h1 span {
  color: #c30045;
}
.presentation {
  text-align: center;
  line-height: 2rem;
  padding: 10vw 20vw;
}
.section_intro p {
  text-align: center;
  line-height: 2rem;
}
.section_intro>div {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.section_intro>div h2{
  color: #c30045;
}
@media(min-width:800px ){
  .section_intro {
    min-height: 50vh;
  }
  .section_intro p {
    width: 50vw;
  }
}


.section_intro h1, .section_intro p, .section4>div, .section_contact h3,.contact {
  transition: transform 1s;
  transform: scale(0.8);
}

.section_intro .animate, .section4.animate>div, .section_contact .animate {
  transform: scale(1);
}

/* SECTION VIDEO */

.video {
  width: 80%;
}

@media (min-width: 800px){
  .video {
    width: 50%;
  }
}


/* SECTION 3 -- Projects */
.projects {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 7vw;
}
.section3 {
  margin-bottom: 15vh;
  position: relative;
}
.trait {
  height: 50px;
  width: 1px;
  background-color: #c30045;
  margin: 30px;
}
.section3>div>img {
  width: 13%;
}
.section3 article {
  display: flex;
  justify-content: center; 
  align-items: center;
  flex-direction: column;
}
/*.section3 article > img{
  width: 100vw; 
  margin: 50px;
  max-width: 50vh;
  max-height: 50vh;
}*/
.brightknight_img, .pengo_img {
  height: 100vw;
  width: 100vw;
  display: flex;
  align-items: center;
}
.brightknight_img img, .pengo_img img{
  width: 100%;
  position: relative;
  z-index: -1;
}
.project {
  width: 100vw;
  height: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 30px;
  background-color: white;
  box-shadow: 0px 8px 20px 0px #c3c3c3;
}
.project h2 {
  display: flex;
  align-items: center;
  height: 10%;
}
.project h2 img {
  width: 20%;
  margin-right: 30px;
}
.project p {
  text-align: justify;
  border-left: 1px solid #c30045;
  padding: 0px 30px; 
  font-family: arial;
  font-size: 0.8rem;
  color: #8C9398;
  line-height: 1.4rem;
}
.project a {
  color: #c30045;
  margin-left: 30px;
  transition: transform 0.5s;
  text-align: left;
}
.project a:hover{
  transform: scale(1) translateX(30px);
}
.section3 .ombre {
  position: absolute;
  width: 50vh;
  bottom: 0px;
}

article.pengo {
  flex-direction: column-reverse;
}
@media(min-width: 450px){
  .project p {
    width: 56%;
  }
  .section3 article .img{
    position: absolute;
    width: 50%;
    right: 0%;
    z-index: 3;
  }
  .section3 article .brightknight_img{
    left: 0;
  }
  .project_pengo {
    margin-bottom: 25px;
  }
  .brightknight p {
    margin-left: 45%;
  }
  .section3 .brightknight > img {
    left: 0;
  } 
  .project_brightknight {
    box-shadow: 0px 8px 20px 0px #c3c3c3;
  }
  
}
@media(max-width: 600px){
  .section3 {
    overflow-x: hidden;
  }
}
@media(min-width: 600px){
  .section3 {
    height: 100vh;
    width: 100%;
  }
  .project {
    max-height: 50vh;
    max-width: 50vh;
    height: 50vh;
    width: 50vh; 
  }
  
  .section3 article {
    flex-direction: row;  
  }
  .section3 article > img, .brightknight p{
    margin: 0;
  }
  .section3 .pengo {
    flex-direction: row;
    position: absolute;
    width: 100%;
    padding-bottom: 100px;
  }
  .section3 .brightknight {
    position: absolute;
    z-index: -2;
    top: 50%;
    width: 100%;
    padding-bottom: 100px;
  }
  .project p {
    width: auto;
  }
  .project_pengo {
    margin-bottom: 0;
  }
  .section3 .brightknight_img>img {
    transform: translateX(-90%);
  }
  .section3 .pengo_img>img{
    transform: translateX(90%);
  }
  .section3 article .img{
    max-height: 50vh;
    height: 50vw;
    max-width: 50vh;
    width: 50vw;
    z-index: -2;
    position: relative;
  }

}

/* animation */
.pengo_img>img {
  transition: transform 1s;
  transform: translateX(100vw) rotate(40deg) translateY(-35px);
}
.section3 .animate .pengo_img>img{
  transform: translateX(0) rotate(0deg) translateY(0);
}
.section3 .animate .brightknight_img>img{
  transform: translateX(0) ;
}
.brightknight_img>img {
  transition: transform 1s;
  transform: translateX(-100vw) ;
}
.brightknight:hover .brightknight_img{
  transform: translateX(0) ;
}

/* SECTION 4 -- Work with us */

.section4 {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  padding: 15px;
  color: white;
  height: 200px;
}
.section4 .trait {
  height: 20px;
  margin: 0; 
  background-color: white;
}
.section4 a {
  padding: 8px 50px;
  background-color: white;
  border-radius: 10px;
  color: #c30045;
  font-family: arial;
  /*margin-top: 10px;*/
}
.section4 h3 {
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  font-size: 1rem;
}
.section4 p {
  font-family: arial;
  font-size: .95rem;
  text-align: center;
}

@media(min-width: 600px){
  .section4 {
    min-height: 150px;
  }

}


/*bleu: #425c6c
gris : #f4f5f7
rose : #c30045*/